<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                    http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/security 
                    http://www.springframework.org/schema/security/spring-security.xsd">


    <http auto-config="true" use-expressions="true">
    	<intercept-url pattern="/JScript/**" access="permitAll" />
    	<intercept-url pattern="/css/**" access="permitAll" />
    	<intercept-url pattern="/cadastroUsuario" access="permitAll" />
    	<intercept-url pattern="/cadastroAtividade" access="permitAll" />
    	<intercept-url pattern="/cadastroAluno" access="permitAll" />
    	<intercept-url pattern="/cadastraAtividade" access="hasRole('ROLE_USER')" />
    	<intercept-url pattern="/cadastroDisciplina" access="hasRole('ROLE_USER')" />
    	<intercept-url pattern="/listaDisciplina" access="hasRole('ROLE_USER')" />
        <form-login login-page="/login" default-target-url="/listaDisciplina" authentication-failure-url="/login?loginError=true"/>
		<logout logout-success-url="/login" />
    </http>
	
    <authentication-manager>
	  <authentication-provider>
		<user-service>
			<user name="21031131" password="123" authorities="ROLE_USER" />
		</user-service>
	  </authentication-provider>
	</authentication-manager>
   
    
    
  </beans:beans>   